In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import LabelEncoder

In [4]:
train_data = pd.read_csv('kaggle/train_data_covid.csv')
test_data = pd.read_csv('kaggle/test_data_covid.csv')
submission_data = pd.read_csv('kaggle/sample_submission.csv')

In [5]:
X= train_data.drop(['Date','Time','Deaths','ConfirmedIndianNational','ConfirmedForeignNational','OxygenTanks'], axis =1)

In [6]:
Label = LabelEncoder()
X['State/UnionTerritory'] =Label.fit_transform(X['State/UnionTerritory'])

In [7]:
y = train_data['Deaths']
y.dtype

dtype('int64')

In [8]:
testing_data = test_data.drop(['Date','Time','ConfirmedIndianNational','ConfirmedForeignNational','OxygenTanks'], axis =1)

In [12]:
Label = LabelEncoder()
testing_data['State/UnionTerritory'] = Label.fit_transform(testing_data['State/UnionTerritory'])

In [10]:
X.head()

   Sno  State/UnionTerritory  Cured  Confirmed  PopulationDensityPerSqKm
0    1                    18      0          1                       867
1    2                    18      0          1                        61
2    3                    18      0          2                       316
3    4                    18      0          3                       806
4    5                    18      0          3                       369

In [13]:
testing_data.head()

     Sno  State/UnionTerritory   Cured  Confirmed  PopulationDensityPerSqKm
0  15001                    28   18478      23332                       514
1  15002                    29    6687       8829                       563
2  15003                    30   13767      18076                       577
3  15004                    31  514532     612224                       615
4  15005                    32   65689      84506                       573

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
from imblearn.under_sampling import NearMiss
undersampler = NearMiss()

In [22]:
from imblearn.over_sampling import RandomOverSampler

# Assuming X_train and y_train represent your features and target variable for the training data

# Create RandomOverSampler object
random_oversampler = RandomOverSampler(random_state=42)

# Apply Random Over-sampling to generate synthetic samples for the training data
X_train_resampled, y_train_resampled = random_oversampler.fit_resample(X_train, y_train)

In [23]:
X_train_resampled

,Sno,State/UnionTerritory,Cured,Confirmed,PopulationDensityPerSqKm
0,9841,12,224092,239195,408
1,9387,26,10934,11634,670
2,6561,39,198983,228302,418
3,3403,17,6151,10118,569
4,821,23,1,2,605
...,...,...,...,...,...
5863621,14999,22,4826371,5378452,195
5863622,14999,22,4826371,5378452,195
5863623,14999,22,4826371,5378452,195
5863624,14999,22,4826371,5378452,195
5863625,14999,22,4826371,5378452,195

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Create and train the Random Forest regressor
random_forest = RandomForestRegressor(n_estimators=200, random_state=42)  # Adjust hyperparameters as needed

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Create and train the regression model
regression_model = LinearRegression()

In [ ]:
random_forest.fit(X_train_resampled,y_train_resampled)

In [31]:
# Make predictions on the test data
y_pred = regression_model.predict(testing_data)

In [32]:
y_pred

array([-3170.0462737 , -3320.46199482, -3095.47726635, ...,
        2439.97547466, 28420.73077761, 25469.85188321])

In [33]:
Sno = submission_data['Sno']

In [35]:
submit = pd.DataFrame({'Sno':Sno, 'Deaths': y_pred})
submit.to_csv('submission16.csv', index=False)